/* Global Styles */

* {
  padding: 0;
  margin: 0 auto;
  max-width: 1140px;
}

/* Header Section */
header {
  background-image: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0) 100%),
    url("resources/Banner\ Image.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-top: 50px;
  border-radius: 16px;
}

header div {
  padding: 150px 150px;
  text-align: center;
  border-radius: 16px;
}

header h3 {
  color: #fff;
  text-align: center;
  font-family: Merriweather;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 20px;
}

header h2 {
  color: #fff;
  text-align: center;
  font-family: Merriweather;
  font-size: 72px;
  font-style: normal;
  font-weight: 900;
  line-height: 95px;
}

/* Discount Seciton Styles */

.discount {
  text-align: center;
  margin: 120px 0;
}

.discount h1 {
  color: #f00;
  text-align: center;
  font-family: Inter;
  font-size: 88px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 48px;
}

.discount h4 {
  color: #f00;
  text-align: center;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 10px;
}

.discount h3 {
  color: #070211;
  text-align: center;
  font-family: Inter;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 48px;
}

.discount img {
  width: 700px;
}

/* Welcome to midnight section */
.midnight {
  display: flex;
  justify-content: space-between;
  gap: 50px;
  align-items: center;
  background-image: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0) 100%),
    url("resources/Vectorrr.png");
  margin-bottom: 120px;
  border-radius: 16px;
  padding: 68px 138px 68px 126px;
}

.welcome-to-midnight {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}

.welcome-to-midnight h3 {
  color: #fff;
  font-family: Merriweather;
  font-size: 54px;
  font-style: normal;
  font-weight: 900;
  line-height: 70px;
  letter-spacing: 7px;
}

.welcome-to-midnight p {
  color: rgba(255, 255, 255, 0.8);
  margin-top: 20px;
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 166.667% */
}

.welcome-to-midnight a {
  color: #fff;
  display: inline-block;
  margin: 50px 0 0 50px;
  text-decoration: none;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}

.img-2024 {
  width: 30%;
}

.img-2024 img {
  width: 100%;
}

/* Event Section Styles */
.event {
  padding: 100px 285px 100px 285px;
  text-align: center;
  background-image: linear-gradient(
    180deg,
    rgba(255, 0, 0, 0.1) 0%,
    rgba(255, 0, 0, 0) 100%
  );
  border-radius: 16px;
  margin-bottom: 120px;
}

.event h3 {
  color: #070211;
  font-family: Inter;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 56px;
  text-transform: capitalize;
}

.event span {
  color: #f00;
}

.event button {
  padding: 16px 32px;
  border: none;
  color: #fff;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  border-radius: 8px;
  background: #f00;
  margin-top: 48px;
}

/* Coming Soon Section Styles */

.coming-soon {
  display: flex;
  align-items: center;
  gap: 50px;
  margin-bottom: 120px;
}

.coming-soon-1 {
  width: 33.3%;
}

.coming-soon-1 h4 {
  color: #f00;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.coming-soon-1 h3 {
  color: #070211;
  margin-top: 10px;
  font-family: Merriweather;
  font-size: 40px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  text-transform: capitalize;
}

.coming-soon-1 p {
  color: rgba(7, 2, 17, 0.6);
  margin-top: 10px;
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
}

.coming-soon-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 33.3%;
  border: 15px solid #f00;
  border-radius: 50%;
  padding: 30px;
}

.coming-soon-2 img {
  width: 100%;
}

.coming-soon-3 {
  width: 33.3%;
  margin-top: 70px;
  margin-left: 50px;
}

.coming-soon-3 h3 {
  color: #f00;
  font-family: Inter;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.coming-soon-3 p {
  margin-top: 20px;
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
}

.coming-soon-3 img {
  width: 120px;
  margin-top: 40px;
}

/* Holiday Seciton */
.holiday-sale-text {
  text-align: center;
}

.holiday-sale-text h4 {
  color: #070211;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 10px;
}

.holiday-sale-text h1 {
  color: #070211;
  text-align: center;
  font-family: Merriweather;
  font-size: 72px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  margin-bottom: 24px;
}

.holiday-sale-text span {
  color: #f00;
}

.holiday-sale-text p {
  color: rgba(7, 2, 17, 0.6);
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px;
  width: 800px;
  margin-bottom: 64px;
}

.holiday-sale-images {
  border-radius: 16px;
  margin-bottom: 120px;
}

.holiday-sale-images-box-and-discount {
  background-image: url("resources/Rectangle\ 2.png"),
    url("resources/Rectangle\ 1.png");
  border-radius: 16px;
  background-repeat: no-repeat;
  background-position: bottom, top right;
  padding: 50px 0;
}

.box {
  width: 600px;
}

.discount-img {
  transform: translate(-20%, -30%);
}

/* Best Gifts Section */

.best-gifts {
  margin-bottom: 120px;
}
.best-gifts-row-1 {
  display: flex;
  gap: 20px;
  justify-content: center;
}

.best-gifts-row-1 img {
  width: 370px;
}

.best-gifts-row-2 {
  display: flex;
  gap: 20px;
  justify-content: center;
  margin-top: 20px;
}

.best-gifts-row-2 img {
  width: 370px;
}

.best-gifts-texts h4 {
  color: #f00;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 16px;
}

.best-gifts-texts h3 {
  color: #070211;
  font-family: Merriweather;
  font-size: 48px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  text-transform: capitalize;
  margin-bottom: 22px;
}

.best-gifts-texts p {
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  margin-bottom: 24px;
}

.best-gifts img {
  transition: 0.5s;
}
.best-gifts img:hover {
  transform: scale(1.1);
}
